[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-saildiscord
Exec=harbour-saildiscord
Name=Sailcord

[X-Sailjail]
OrganizationName=io.github.roundedrectangle
ApplicationName=harbour-saildiscord
Permissions=Internet;WebView;Downloads;Pictures;Videos;UserDirs;MediaIndexing

